#menu{
    display:flex;
    justify-content: center;
    height: 50px;
    background-color: rgb(36, 153, 193);
    padding: 10px;
    font-size: 28px;
    padding-top: 2%;
}

#inicio{
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#modelos{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#servicios{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#contacto{
    margin-left: auto;
    margin-right: auto;
    width: 25%; 
}
#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
#formulario img {
  width: 20%;
}
#logo{
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  

  h1, h2, h3 {
    color: rgb(0, 0, 0);
  }
  

  
  #menu div {
    margin: 0 10px;
  }
  
  /* Estilos de la sección destacada */
  .destacada {
    background-color: lightblue;
    padding: 20px;
    margin-top: 5%;
  }
  
  .boton {
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  /* Estilos de la sección de modelos de automóviles */
  .modelos {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  
  .grid-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 390px;
    
  }
  
  .modelo1 {
    background-color: #F0F8FF;
    padding: 20px;
    background-image: url("/Proyecto_JKI/images/2023013014183352883.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
  }

  .modelo2 {
    background-color: #F0F8FF;
    padding: 20px;
    background-image: url("/Proyecto_JKI/images/539869.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
  }
  
  /* Estilos de la sección de servicios */
  .servicios {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
  }

  .servicioTop{
    display: flex;
    text-align: center;
    background-color: lightblue;
    padding-left: 10%;
  }

  .imagen1{
    display: flex;
    justify-content: center;
  }

  .imagen2{
    display: flex;
    margin-left: 25%;
  }

  #imgMant{
    margin-left: 5%;
    border-radius: 5%;
  }
  
  #imgVen{
    text-align: center;
    border-radius: 5%;
    margin-right: auto;
    margin-left: auto;
  }

  #imgFin{
    border-radius: 5%;
    margin-right: 5%;
  }

  
  #venta{
    padding-right: 27%;
    padding-left: 29.5%;
  }

  #servicioBot{
    background-color: lightblue;
    display: flex;
    text-align: left;
    padding-top: 5%;
    padding-left: 15%;
  }

  #manejo{
    padding-left: 19%;
    padding-right: 20%;
  }

  #ases{
    padding-left: 0%;
  }

  #imgManejo{
    border-radius: 5%;
    margin-right: 5%;
  }

  #imgAses{
    border-radius: 5%;
  }

  /* Estilos de la sección de contacto */
  .contacto {
    background-color:#F0F8FF;
  }

  #divcontacto{
    background-color: lightblue;
  }
  
  .contacto a {
    color: black;
  }
  
  /* Estilos del footer */
  footer {
    background-color: lightblue;
    color: black;
    padding: 5px;
    text-align: center;
  }

#pFooter {
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-top: 5px;
}

#divArriba {
  background-color: #F0F8FF;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}

#divBajo {
  background-color: #F0F8FF;
  display:flex;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-bottom: 2%;
  padding-left: 20%;
}

#telefono {
    color: black;
    display:flex;
    padding: 1%;
    margin-right: 1%;

}

#correo {
    color: black;
    display:flex;
    padding: 1%;
    margin-right: 1%;
}

#direccion {
    color: black;
    display:flex;
    padding: 1%;
}

#derechos{
    text-align: right;
    font-style: italic;
}

#logos{
  width: 3%;
  height: 3%;
}


@media screen and (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }

}